footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Estilo para os ícones */
.footer-icons {
  margin-top: 10px;
}

.footer-icons a {
  text-decoration: none;
  margin: 0 10px;
}

.footer-icons i {
  color: #fff;
}